@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&display=swap");

/* Global styles*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 870px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
header {
  height: 94px;
  background: #562eff;
  display: flex;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  color: #ffffff;
}
.logo img {
  width: 40px;
}
.menu {
  display: flex;
  gap: 36px;
  align-items: center;
}
.menu a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
.menu img {
  width: 51px;
  height: 51px;
}
